
<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Url</label>
    <input type="text" class="form-control site" id="exampleInputEmail2" placeholder="Url">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail2">Username</label>
    <input type="text" class="form-control username" id="exampleInputEmail2" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label class="sr-only" for="exampleInputPassword2">Password</label>
    <input type="password" class="form-control password" id="exampleInputPassword2" placeholder="Password">
  </div> 
  <div class=" pull-right">
  <button type="submit" class="btn btn-primary save"> <i class="fa fa-save"></i> Store</button>
  {{^new}}
  <a class="btn btn-danger delete"><i class="fa fa-trash-o"></i> Delete</a>
  {{/new}}
  <a class="btn btn-default cancel"><i class="fa fa-undo"></i> Cancel</a>
</div>
</form>