 <form class="form-signin">
 	<div class="logocontainer">
 	<i class="fa logo fa-user"></i>
 </div>
        <h2 class="form-signin-heading">Register</h2>
        <input type="text" class="form-control email" placeholder="Email address" autofocus>
        <input type="password" class="form-control middle password" placeholder="Password"> 
        <input type="password" class="form-control middle repassword" placeholder="Repeat Password"> 
        <input type="text" class="form-control phone" placeholder="Phone nr" >
        <button class="btn btn-lg btn-primary btn-block register" type="submit">Register</button>
        <p>You alread have an account? <a href="/" class="btn btn-link">Login here</a></p>
      </form>
