
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OwnPass</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Passwords</a></li> 
            <li ><a href="javascript:var e = document.createElement('script');e.setAttribute('language', 'javascript');e.setAttribute('src', 'http://localhost:3333/bookmarklet.js');window.email='{{#withUser}}{{email}}{{/withUser}}';window.api='{{#withWindow}}{{api}}{{/withWindow}}';document.body.appendChild(e);void(0);">Bookmarklet</a></li> 
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/KarlKode/OwnPass-Web"><i class="fa fa-github"></i> Github</a></li> 
          </ul>
        </div><!--/.nav-collapse -->

